.user-scoreboard {
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.user-scoreboard #score {
    width: 30px;
    height: 30px;
    background-image: url('project://database/Assets/07.Animation/SmaplePlayer(Rig)(ScaleUP)/SamplePlayer(Rig)(ScaleUP).psb?fileID=-5304372883730732454&guid=53575b53dcfb86a4890bb28906221acf&type=3#Head');
    margin-left: 15px;
}
